

.academic-hero {
    margin-top: 120px;
    height: 350px;
    background-image: linear-gradient(rgba(0, 68, 126, 0.8), rgba(0, 68, 126, 0.8)), url('images/nazra.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 30px;
    backdrop-filter: blur(8px);
}

.academic-hero h1 {
    font-size: 80px;
}


.dual-education {
    padding: 80px 10%;
    background-color: white;
    text-align: center; 
}

.edu-box-text {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    text-align: left;
    padding-right: 40px;
}

.edu-box-text h2 {
    color: #00447e;
    font-size: 35px;
    margin-bottom: 20px;
}

.edu-box-img {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
}

.edu-box-img img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 15px 15px 0px #f3f1fa;
}

.values-grid {
    margin-top: 30px;
}

.value-item {
    display: inline-block;
    width: 220px;
    margin-right: 15px;
    background-color: #ffb7b7;
    box-shadow: 0px 10px 10px rgba(0 ,0,0,0.2) ;
    padding: 20px;
    border-radius: 15px;
    border-left: 5px solid orangered;
}

.val-icon {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}


.subjects-section {
    padding: 80px 5%;
    background-color: #f3f1fa;
    text-align: center;
}

.subjects-container {
    max-width: 1200px;
    margin: 0 auto;
}

.sub-card {
    display: inline-block;
    width: 320px;
    background-color: white;
    margin: 15px;
    border-radius: 25px;
    overflow: hidden;
    vertical-align: top;
    text-align: left;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.05);
    transition: 0.4s;
}

.sub-card:hover {
    transform: translateY(-10px);
}

.sub-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.sub-card-txt {
    padding: 25px;
}

.sub-card-txt h4 {
    color: #00447e;
    font-size: 22px;
    margin-bottom: 10px;
}

.sub-card-txt p {
    font-size: 15px;
    color: #666;
    line-height: 1.5;
}


.extra-space {
    height: 50px;
    width: 100%;
}